
.predview {
  background: rgb(86,94,102);
  background: linear-gradient(180deg, rgba(86,94,102,1) 0%, rgba(119,129,140,1) 54%, rgba(157,165,174,1) 100%);
  color: white;
  height: calc(100vh - 70px);
  padding: 80px 30px 20px 30px;
}

.lt-split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.lt-score_qtr, .lt-game-title {
  display: grid;
  justify-items: center;
  align-items: center;
  font-style: Times;
  height: 90px;
}

.lt-score_qtr {
  max-width: 400px;
}

.lt-score_qtr > .input-box {
  margin: 10px;
}

.lt-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.lt-scenario-platform {
  color: black;
  background-color: rgb(250,250,250);
  box-shadow: 6px 6px 6px rgb(0,0,0,50%);
  border-radius: 5px;
  margin-top: 10px;
}

.lt-scenario-content {
  display: grid;
  padding: 15px;
  gap: 5px;
  align-items: center;
}

.lt-scenario-content-multi {
  grid-template-columns: 2fr 2fr 1.5fr 1.5fr 1.5fr;
  min-width: 700px;
  max-width: 800px;
}

.lt-scenario-content > div > div:first-child{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}


.lt-scenerio-head {
  height: 14px;
}

.lt-scenerio-head > * {
  font-size: 20px;
}
.lt-scenerio-head > div{
  position: relative;
  top: 13px;
  font-weight: bold;
}



.lt-prediction {
  padding: 15px;
}

.lt-prediction-header {
  padding: 0px 15px 15px 15px;
}

.lt-prediction-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px 1px;
}

.lt-prediction-data > div > div {
  margin: 5px;
}

.lt-run-time {
  padding: 15px;
}

.lt-run-time-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px 1px;
  align-items: center;
  padding: 15px;
}
.lt-run-time-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px 1px;
  margin: 5px;
}

.wider {
  grid-column: 1 / 3;
}

.input-box {
  background-color: white;
  width: 75px;
  border-radius: 5px;
  height: 40px;
  font-size: 18px;
  padding: 0px 5px;
  text-align: center;
  box-shadow: 4px 4px 4px rgb(0,0,0,50%);
  border: none;
}

.input-box:active {
  outline: 0;

}

.wide-box {
  width: 240px;
}

.lt-pointer {
  cursor: pointer;
}

 hr {
   border: 1px solid lightgray;
 }
