
.films_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10%;
  background-color: var(--color1);
  margin: auto;
  min-height: calc(100vh - 70px);
}

.films_container > div {
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 15px;
  background-color: rgb(250,250,250);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* .films_container > div > div {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
}

.films_container > div > div > div {
  display: grid;
  text-align: center;
} */

.films_container > div > h2 {
  font-weight: 700;
  font-size: 30px;
}

.missings {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 150px;
  min-width: 150px;
}

/* width */
.missings::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.missings::-webkit-scrollbar-track {
  box-shadow: inset 2 0 5px grey; 
  border-radius: 10px;
  width: 8px;

}
 
/* Handle */
.missings::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
  width: 8px;
}
