
.films_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
}

.films_container > div {
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 15px;
  background-color: rgb(250,250,250);
  box-shadow: 4px 4px 4px lightgray;
}

/* .films_container > div > div {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
}

.films_container > div > div > div {
  display: grid;
  text-align: center;
} */

.films_container > div > h2 {
  font-weight: 700;
  font-size: 30px;
}

.missings {
  overflow-y: scroll;
  height: 150px;
}

/* width */
.missings::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.missings::-webkit-scrollbar-track {
  box-shadow: inset 2 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.missings::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
.missings::-webkit-scrollbar-thumb:hover {
  background: #934e00; 
}