

.navbar {
  --height: 70px;
 }

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: var(--height);
  z-index: 1;
}

.navbar > li {
  float: left;
  height: var(--height);
  display: grid;
  align-content: center;
  align-items: center;
  margin: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.offcolor {
    color: var(--color4);
    margin: 0 0 0 -5px;
    padding: 0;
}




.navbar > li.toright {
	float: right;
}

.navbar > li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;

}

.navbar > li a:hover {
  background-color: whitesmoke;
}

.navbar > li:first-child a:hover {
  background-color: transparent;
}
.navbar > li > a:active, .navbar > li > a:visited {
  text-decoration: none;
}

.btag {
  background-color: rgb(37, 67, 87);
  margin: 0px 10px;
  padding: 2px 7px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  height: 20px;
  display: grid;
  align-items: center;
}

.nv_hover > li {
  padding: 0px 7px;

}

.nv_hover > li a {
  color: white;
}
.nv_hover > li:hover {
  font-weight: bold;
}
.nv_hover > li a:hover {
  font-weight: bold;
  background-color:transparent;
}

.nv_hover > li:nth-child(1), .nv_hover > li:nth-child(2) {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .companyname {
    font-size: large;
  }

  .btag {
    font-size: 7px;
    padding: 2px 4px;
    line-height: 7px;
    height: 13px;
  }
}