.signin-view {
  background-color: var(--color1);
  height: calc(100vh - 70px); /* WARN:  NAVBAR HEIGHT */
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.signin-view > div > div {
  height: 300px;
  width: 550px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.signin-view > div > h3 {
  color: white;
  text-align: left;
  font-weight: bold;
}

.signin-grid {
  padding: 5px 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  align-items: center;
}
.signin-grid > div {
  text-align: left;
  font-size: 22px;
}
.signin-grid > div > div {
  padding: 5px 20px 5px 0px;
  text-align: left;
  font-size: 22px;
  overflow-x: scroll;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.signin-input {
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
