
.json {
    padding: 3px 5px;
    font-size: 14px;
    margin: 3px;
    background-color: whitesmoke;
    /* border-bottom: 2px solid black; */
    border-top: 0px;
    cursor: pointer;
    /* width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;  */
}

.json:hover {
    background-color: orange;
    background: rgb(255,140,0);
    color: white;
}

.jsonwrapper {
    font-size: 20px;
    /* border: 2px solid black; */
    border-bottom: 0px;
    margin: auto;
    width:60%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.logging_in {
    width: 70%;
    margin: auto;
}

.logging_in Button {
    margin: 20px;
}

